<h1 id="advanced-shell-scripting">Advanced Shell: Scripting</h1>
<p>This page will provide notes and tips on advanced shell scripting.</p>
<p>It is often useful to develop short scripts to manage multiple programs in various languages. Having a generic script to automate repetitive tasks allows you to spend more time for other important tasks.</p>
<p>Bash script has a few different elements that we have been implementing this week.</p>
<ul>
<li>*Shebang</li>
</ul>
<pre><code>#!bash

#!/bin/bash</code></pre>
<ul>
<li>a command ``` #!bash</li>
</ul>
<p>cp rm ls ``` * some arguments and options * objects for the command to act upon * some output</p>
<p>This is a shell script in simplest terms.</p>
